#Formulario{

    background-color: aqua;
    margin-left: 20px;
    

}

#Pessoa{

    background-color:blueviolet
}

.Cadastro{
background-color: blueviolet;



}


.Formulario{
color: beige;
background-color: black;

}


.Form{
margin: 20px;
margin-left: 40px;
margin-top: 80px;
margin-right: 80px;




}